{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cardápio</title>
        <link rel="icon" type="imagem/png" href="{% static 'imagens/bob.png' %}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/Centrega.css' %}" />
        <script src="{%static 'js/Alerta.js' %}"></script>
    </head>
    <body>
        <header>
                <div class="menu"> 
                    <nav>
                        <ul>
                            <li><a href="{% url 'home:Home' %}">HOME</a></li>
                            <li><a href="{% url 'home:CardapioEntrega' %}">CARDAPIO</a></li>
                            <li><a href="{% url 'home:QuemSomos' %}">QUEM SOMOS</a></li>
                            <li><a href="{% url 'home:Localizacao' %}">LOCALIZAÇÃO</a></li>
                        </ul>
                    </nav>
                </div>
        
        </header>
        <div id="cardapio">
            <h1>Cardápio</h1>
            <ul><h2>Pratos:</h2>
                <li>Virado a paulista - R$16</li>
                <li>Bife - R$14</li>
                <li>Filé de frango - R$14</li>
                <li>Frango ao molho - R$13</li>
                <li>Carne de panela - R$14</li>
                <li>Fígado acebolado - R$14</li>
                <li>Bife acebolado - R$15</li>
                <li>Feijoada - R$16</li>
                <li>Calabresa - R$14</li>
            </ul>
            <ul><h2>Acompanhamentos:</h2>
                <li>Banana frita, linguiça, ovo, couve (virado)</li>
                <li>Legumes refogados</li>
                <li>Escarola</li>
                <li>Fritas</li>
            </ul>
            <ul><h2>Saladas:</h2>
                <li>Alface e pepino</li>
                <li>Repolho e cenoura</li>
            </ul>
        </div>


        <!-- ######################################################################## -->
        {% load widget_tweaks %}
       
        <div id="opcoes">
            <form name="pedido" action="{% url 'home:Agradecimentos' %}" method="POST">
            {% csrf_token %}
            
            <h1>Selecione uma ou mais opções para compra: </h1>
            <label for="Prato">Prato:</label><br>
            <select name="Prato" id="prato" autofocus required="required">
                <option value="">Selecione seu prato</option>
                <option value="Virado a paulista">Virado a paulista</option>
                <option value="Bife">Bife</option>
                <option value="Filé de frango">Filé de frango</option>
                <option value="Frango ao molho">Frango ao molho</option>
                <option value="Carne de panela">Carne de panela</option>
                <option value="Fígado acebolado">Fígado acebolado</option>
                <option value="Bife acebolado">Bife acebolado</option>
                <option value="Feijoada">Feijoada</option>
                <option value="Calabresa">Calabresa</option>
            </select><br><br>
            <label for="Acompanhamentos">Acompanhamentos:</label><br>
            <select name="Acompanhamentos" id="Acompanhamentos" required="required">
                <option value="">Selecione o acompanhamento</option>
                <option value="Banana frita, linguiça, ovo, couve (virado)">Banana frita, linguiça, ovo, couve (virado)</option>
                <option value="Legumes refogados">Legumes refogados</option>
                <option value="Escarola">Escarola</option>
                <option value="Fritas">Fritas</option>
                <option value="Sem acompanhamento">Sem acompanhamento</option>
            </select><br><br>
            <label for="Saladas">Saladas:</label><br>
            <select name="Saladas" id="Saladas" required="required">
                <option value="">Selecione a salada</option>
                <option value="Alface e pepino">Alface e pepino</option>
                <option value="Repolho e cenoura">Repolho e cenoura</option>
                <option value="Sem salada">Sem salada</option>
            </select><br><br>   
            <label for="FormaPagamento">Forma de Pagamento:</label><br>
            <select name="FormaPagamento" id="FormaPagamento" required="required">
                <option value="">Selecione a forma de pagamento</option>
                <option value="Cartão">Cartão</option>
                <option value="Dinheiro">Dinheiro</option>
            </select><br><br>

            <label for="Nome" requi>Nome completo:</label><br>
            <input type="text" required="required" minlength="3" id="nomeid" placeholder="Ex: Joãozinho"><br><br>

            <label for="Endereco">Endereço:</label><br>
            <input type="text" required="required" minlength="4" id="Endereco" placeholder="Ex: Rua 14"><br><br>

            <label for="Telefone">Telefone:</label><br>
            <input type="tel" name="Telefone" id="Telefone" placeholder="Ex: (11)12345-6789"><br><br>

            <label for="Email">Email:</label><br>
            <input type="text" required="required" minlength="10" placeholder="Ex: teste@mail.com">
            
            <br>
            <br>

            <p><button id="Botao" type="submit" onClick="Enviar()">Pedir</button></p>
            <br>
            <br>
            
            </form>
        
        </div> 
    </body>
    
</html>