{% load static %}
<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8"> 
        <title>Joaninha</title>
        <link rel="icon" href="{% static 'imagens/bob.png' %}">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">    
        <link rel="stylesheet" href="{% static 'css/Home.css' %}">
        <!-- <link rel="stylesheet" type="text/css" href="Home.css" /> -->
        
    </head>
    <body>
        {% block conteudo %}
        <!-- https://medium.com/horadecodar/criando-templates-no-django-e-adicionando-css-f200310cca56 -->
        <div id='fundo'>
        <header>
            <div class="menu"> 
                <nav>
                    <ul>
                        <li><a href="{% url 'home:Home' %}">HOME</a></li>
                        <li><a href="{% url 'pedidos:pedidos_add' %}">CARDAPIO</a></li>
                        <li><a href="{% url 'home:QuemSomos' %}">QUEM SOMOS</a></li>
                        <li><a href="{% url 'home:Localizacao' %}">LOCALIZAÇÃO</a></li>
                    </ul>
                </nav>
            </div>
        </header>
                <section class="content">
                    <div class="par">
                        <p id="espaço">RESTAURANTE  JOANINHA</p>
                        <!-- <marquee behavior="" direction="right"><img src="{% static 'imagens/20-imagem.gif' %}" alt=""></marquee> -->
                        <marquee behavior="" direction="" id="final"><p>sabor incomparável para satisfazer seu paladar</p></marquee>
                    </div>
                </section>
            </div>
        </div>    
         
        {% endblock %}
    </body>
</html>
