<header>
    <div class="menu"> 
        <nav>
            <ul>
                <li><a href="{% url 'home:Home' %}">HOME</a></li>
                <li><a href="{% url 'pedidos:pedidos_add' %}">CARDAPIO</a></li>
                <li><a href="{% url 'home:QuemSomos' %}">QUEM SOMOS</a></li>
                <li><a href="{% url 'home:Localizacao' %}">LOCALIZAÇÃO</a></li>
            </ul>
        </nav>
    </div>
</header>
{% load widget_tweaks %}
{% block content %}
<form method="POST">
        {% csrf_token %}
        <!-- {% for field in form.visible_fields %} -->
          <div class="#">
              {{ field.id_for_label }}
            <label for="#">
              {% if field.field.required %}
                <span class="#">{{ field.label }} </span>
              
              {% endif %}
            </label>
            {% render_field field class="form-control" %}
            
              <span class="text-muted">{{ error }}</span>
            
          </div>
        <!-- {% endfor %} -->
        <button type="submit" class="#">Concluir</button>
</form>
{% endblock content %}