<header>
    <div class="menu"> 
        <nav>
            <ul>
                <li><a href="{% url 'home:Home' %}">HOME</a></li>
                <li><a href="{% url 'pedidos:pedidos_add' %}">CARDAPIO</a></li>
                <li><a href="{% url 'home:QuemSomos' %}">QUEM SOMOS</a></li>
                <li><a href="{% url 'home:Localizacao' %}">LOCALIZAÇÃO</a></li>
            </ul>
        </nav>
    </div>
</header>
{% load widget_tweaks %}


<form method="POST">{% csrf_token %}
    <h1>Selecione uma ou mais opções para compra: </h1>
    {{form.nome_cliente }}
    {{form.email }}
    {{form.lista_pedidos }}
    {{form.endereco }}
    {{form.numero_contato }}

    
    <button>Concluir</button>
    
        
       
</form>

        
        
       
       
        
        







