{% extends 'base.html' %}
{% block content %}
<div>
    <h2>Lista de Pedidos</h2>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome do Cliente</th>
                <th>E-mail</th>
                <th>Pedido</th>
                <th>Forma de Pagamento</th>
                <th >Endereço</th>
                <th >Numero de contato</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{object.nome_cliente}}</td>
                    <td>{{object.email}}</td>
                    <td>
                        <a href="{{ object.get_absolute_url }}">{{ object.lista_pedidos }}</a>
                    </td>
                    <td>{{object.forma_de_pagamento}}</td>
                    <td>{{object.endereco}}</td>
                    <td>{{object.numero_contato}}</td>
                </tr>
            {% endfor%}
        </tbody>
    </table>

   
</div>

{% endblock content %}
