head{
    text-align: center;
}
body{
    background-image: url(../imagens/fundo_agradecimentos.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    text-align: center;
    font-size: 150%;
    display: inline;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(0, -50%);
}
#Centro{
    border-width: medium;
    border-style: solid;
    background-color: brown;
}
a{
    text-decoration: none;
    color:black;
}

a:hover {
    color:blanchedalmond; 
}
